footer
	.footer
		.footer__inner
			.footer__content
				.footer__column
					a(href="#").footer__subtitle Компанія
					.footer__list
						a(href="#").footer__link Історія компанії
						a(href="#").footer__link Наше виробництво
						a(href="#").footer__link Партнери
						a(href="#").footer__link Франчайзинг
						a(href="#").footer__link Новини
				.footer__column
					a(href="#").footer__subtitle Продукція
					.footer__list
						a(href="#").footer__link Історія компанії
						a(href="#").footer__link Наше виробництво
						a(href="#").footer__link Партнери
						a(href="#").footer__link Франчайзинг
						a(href="#").footer__link Новини
				.footer__column
					a(href="#").footer__subtitle Інформація
					.footer__list
						a(href="#").footer__link Історія компанії
						a(href="#").footer__link Наше виробництво
						a(href="#").footer__link Партнери
						a(href="#").footer__link Франчайзинг
						a(href="#").footer__link Новини
				.footer__column.footer__column--width
					a(href="#").footer__subtitle Контакти
					.footer__list
						a(href="tel:+380970330009").footer__link Тел: +38 (097) 033-00-03
						a(href="tel+380384936670").footer__link Факс: +38 (03849) 3-66-70
						a(href="javascript:void(0);").footer__link Адрес: 32300, Україна, м. Кам'янець-Подільський, <br>
							| вул. Князів Коріатовичів, 21
						a(href="mailto:q@viknoplus.ua").footer__link E-mail: @viknoplus.ua

			.footer__bottom
				.footer__bottom-logo
					a(href="/").footer__logo-link
						img(src="" alt="img")

				.footer__bottom-txt
					| Офіційний сайт компанії ТМ «ВікноПлюс» <br>
					| © 1997-2020 ВікноПлюс. Всі права захищені, копіювання будь-якої інформації заборонено
