header
	.header
		.header__inner
			.header__head
				.header__logo
					a(href="/").header__logo-link
						img(src="" alt="logo").header__logo-img
				.header__lang
					a(href="#").header__lang-link UA
					.header__lang-list
						.header__lang-item
							a(href="#") EN
						.header__lang-item
							a(href="#") PL
						.header__lang-item
							a(href="#") RU
			.header__nav
				.nav
					.nav__inner
						a(href="javascript:void(0);").nav__menu-btn
							span.nav__menu-btn--hide
							span.nav__menu-btn--show
						ul.nav__menu
							li
								a(href="javascript:void(0);").nav__menu-link ПРОДУКЦІЯ
							li
								a(href="javascript:void(0);").nav__menu-link ДЕ КУПИТИ
							li
								a(href="javascript:void(0);").nav__menu-link ПРО КОМПАНІЮ
							li
								a(href="javascript:void(0);").nav__menu-link ФРАНЧАЙЗИНГ
							li
								a(href="javascript:void(0);").nav__menu-link НОВИНИ
							li
								a(href="javascript:void(0);").nav__menu-link Представники
							li
								a(href="javascript:void(0);").nav__menu-link Консультація

						.nav__search-btn
							a(href="javascript:void(0);").nav__search-btn-i

				.nav__side-menu
					.nav__side-menu-bar
						.nav__side-menu-bar--search.search-form
							form(action="#").search-form__form
								input(placeholder="Search" type="text").search-form__input
								button(type="submit").search-form__btn
					.nav__side-menu-list
						.nav__side-menu-item
							a(href="#").nav__side-menu-link
								img(src="" alt="ico").nav__side-menu-ico
								span Вікна
							.nav__side-submenu-list
								.nav__side-submenu-item
									a(href="#").nav__side-submenu-link
										img(src="" alt="ico").nav__side-submenu-ico
										span  - Ухильно-розсувні PSK
									.nav__side-sub-submenu-list
										.nav__side-sub-submenu-item
											a(href="#").nav__side-sub-submenu-link
												img(src="" alt="ico").nav__side-sub-submenu-ico
												span  - Ухильно-розсувні PSK

					.nav__side-bottom
						.nav__side-bottom-list
							.nav__side-bottom-item
								a(href="#").nav__side-bottom-link Про компанiю
							.nav__side-bottom-item
								a(href="#").nav__side-bottom-link Де купити
							.nav__side-bottom-item
								a(href="#").nav__side-bottom-link Франчайзинг
							.nav__side-bottom-item
								a(href="#").nav__side-bottom-link Нашi роботи
							.nav__side-bottom-item
								a(href="#").nav__side-bottom-link Контакти
							.nav__side-bottom-item
								a(href="#").nav__side-bottom-link Новини




