extends _layout

block vars
	- var pageTitle = "Home page";
	- var pageClass = "homepage";

block content
	//.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

		<picture>
			<source srcset="./img/awesomeWebPImage.webp" type="image/webp">
			<source srcset="./img/creakyOldJPEG.jpg" type="image/jpeg">
			<img src="./img/creakyOldJPEG.jpg" alt="Alt Text!">
		</picture>

	div.main-wrap
		.big-slider
			.big-slider__inner
				.big-slider__slider#big-slider
					.big-slider__item
						.big-slider__item-content
							.big-slider-img
								img(src="./img/home/big-slider01.png" alt="img").big-slider-img-i
							.block-wrap
								.big-slider__content
									.big-slider__title ВікноПлюс
									.big-slider__subtitle Дарує радість в кожний дім
									.big-slider__desc Ми впроваджуємо найновіші технології виробництва та сервісу, що дозволяє нам забезпечити максимальний комфорт для клієнтів.
									.big-slider__txt ТМ «Вікно Плюс» - українська віконна компанія повного циклу
									.big-slider__btn
										a(href="#").site-btn.big-slider__btn-i Дiзнатись бiльше
					.big-slider__item
						.big-slider__item-content
							.big-slider-img
								img(src="./img/home/big-slider02.png" alt="img").big-slider-img-i
							.block-wrap
								.big-slider__content
									.big-slider__title ВікноПлюс
									.big-slider__subtitle Дарує радість в кожний дім
									.big-slider__desc Ми впроваджуємо найновіші технології виробництва та сервісу, що дозволяє нам забезпечити максимальний комфорт для клієнтів.
									.big-slider__txt ТМ «Вікно Плюс» - українська віконна компанія повного циклу
									.big-slider__btn
										a(href="#").site-btn.big-slider__btn-i Дiзнатись бiльше
					.big-slider__item
						.big-slider__item-content
							.big-slider-img
								img(src="./img/home/big-slider03.png" alt="img").big-slider-img-i
							.block-wrap
								.big-slider__content
									.big-slider__title ВікноПлюс
									.big-slider__subtitle Дарує радість в кожний дім
									.big-slider__desc Ми впроваджуємо найновіші технології виробництва та сервісу, що дозволяє нам забезпечити максимальний комфорт для клієнтів.
									.big-slider__txt ТМ «Вікно Плюс» - українська віконна компанія повного циклу
									.big-slider__btn
										a(href="#").site-btn.big-slider__btn-i Дiзнатись бiльше

		.our-products
			.our-products__inner
				.block-wrap
					.site-title Наша продукцiя
				.our-products__content
					.our-products__slide#our-products-slider
						.our-products__slide-item
							.our-products__slide-content(style="background-image: url('./img/home/our-products-slide.png');")
								.our-products__slide-txt
									| Наша робота - це індивідуальний
									| підхід до кожного клієнта. <br>
								.our-products__slide-btn
									a(href="#").site-btn.our-products__slide-btn-i Дiзнатись бiльше
						.our-products__slide-item
							.our-products__slide-content(style="background-image: url('./img/home/our-products-slide.png');")
								.our-products__slide-txt
									| Ми завжди допоможемо вам
									| вибрати вікна, які створять теплу,
									| тиху і затишну атмосферу
									| вашого будинку.
								.our-products__slide-btn
									a(href="#").site-btn.our-products__slide-btn-i Дiзнатись бiльше
						.our-products__slide-item
							.our-products__slide-content(style="background-image: url('./img/home/our-products-slide.png');")
								.our-products__slide-txt
									| Наша робота - це індивідуальний
									| підхід до кожного клієнта. <br>
									| <br>
									| Ми завжди допоможемо вам
									| вибрати вікна, які створять теплу,
									| тиху і затишну атмосферу
									| вашого будинку.
								.our-products__slide-btn
									a(href="#").site-btn.our-products__slide-btn-i Дiзнатись бiльше
						.our-products__slide-item
							.our-products__slide-content(style="background-image: url('./img/home/our-products-slide.png');")
								.our-products__slide-btn
									a(href="#").site-btn.our-products__slide-btn-i Дiзнатись бiльше
						.our-products__slide-item
							.our-products__slide-content(style="background-image: url('./img/home/our-products-slide.png');")
								.our-products__slide-txt
									| Наша робота - це індивідуальний
									| підхід до кожного клієнта. <br>
									| <br>
									| Ми завжди допоможемо вам
									| вибрати вікна, які створять теплу,
									| тиху і затишну атмосферу
									| вашого будинку.
								.our-products__slide-btn
									a(href="#").site-btn.our-products__slide-btn-i Дiзнатись бiльше
					.our-products__menu
						.our-products__menu-list#our-products-slider-menu
							.our-products__menu-item
								a(href="javascript:void(0);").our-products__menu-link 01
									span
									| Вікна
							.our-products__menu-item
								a(href="javascript:void(0);").our-products__menu-link 02
									span
									| Двері
							.our-products__menu-item
								a(href="javascript:void(0);").our-products__menu-link 03
									span
									| Фасад/Зимовий сад
							.our-products__menu-item
								a(href="javascript:void(0);").our-products__menu-link 04
									span
									| Ворота/Ролети
							.our-products__menu-item
								a(href="javascript:void(0);").our-products__menu-link 05
									span
									| Аксесуари

				.block-wrap.our-products__icons
					.our-products__icons-list
						.our-products__icons-item
							img(src="./img/ico/6.svg" alt="ico").our-products__icons-img
							.our-products__icons-name Досвід роботи <br> понад 20 років
						.our-products__icons-item
							img(src="./img/ico/7.svg" alt="ico").our-products__icons-img
							.our-products__icons-name Індивідуальний підхід <br> до кожного клієнта
						.our-products__icons-item
							img(src="./img/ico/8.svg" alt="ico").our-products__icons-img
							.our-products__icons-name Повний цикл <br> виробництва
						.our-products__icons-item
							img(src="./img/ico/10.svg" alt="ico").our-products__icons-img
							.our-products__icons-name Гарантія на вікна <br> 12 років

		.window
			.window__inner
				.site-tille Вікна в кожну кімнату
				.window__content
					.window__list
						.window__item
							a(href="#").window__img
								img(stc="" alt="img").window__img-i
							a(href="#").window__name спальня
						.window__item
							a(href="#").window__img
								img(stc="" alt="img").window__img-i
							a(href="#").window__name їдальня
						.window__item
							a(href="#").window__img
								img(stc="" alt="img").window__img-i
							a(href="#").window__name кухня
						.window__item
							a(href="#").window__img
								img(stc="" alt="img").window__img-i
							a(href="#").window__name зал

		.double-block
			.double-block__inner
				.address-block
					.address-block__inner
						.site-title.site-title--white Приходьте до нас в гості!
						.address-block__content
							.address-block__showroom
								.address-block__showroom-count 152+
								.address-block__showroom-txt високоякісних шоурумів по всій краіні

							.address-block__office
								.address-block__sity
									.address-block__sity-select
										select
											option Київ
											option Львів
											option Одеса

								.address-block__office-item
									.address-block__office-head
										.address-block__office-name Офіс №1
										.site-arrow-link.address-block__office-link Залишити заявку
									.address-block__office-info
										.address-block__office-address м. Київ, вул. Уманська 43, буд 55 (ст. м. Вокзальна)
										a(href="tell:+380997777777").address-block__office-phone +38 (099) 777 77 77
										a(href="tell:+380997777777").address-block__office-phone +38 (099) 777 77 77
								.address-block__office-item
									.address-block__office-head
										.address-block__office-name Офіс №1
										.site-arrow-link.address-block__office-link Залишити заявку
									.address-block__office-info
										.address-block__office-address м. Київ, вул. Уманська 43, буд 55 (ст. м. Вокзальна)
										a(href="tell:+380997777777").address-block__office-phone +38 (099) 777 77 77
										a(href="tell:+380997777777").address-block__office-phone +38 (099) 777 77 77

				.map-block
					.map-block__inner
						iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24896.610995416322!2d30.524645443659377!3d50.41436909935062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1589891588407!5m2!1sru!2sua', width='600', height='450', frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0')


		.double-block
			.site-title Наша продукцiя
			.double-block__inner

				.txt-block
					.txt-block__inner
						.txt-block-text
							| Ми розробили і впровадили власні високі стандарти якості виробничих процесів і монтажних робіт.<br>
							| <br>
							| Ввічливі менеджери завжди проконсультують вас з будь-яких супутніх питань, і допоможуть визначитися з оптимальним варіантом профілю і склопакета.

				.request-block
					.request-block__inner
						form(action="#").request-block__from
							.request-block__title
								span.request-block__title-main Залишити заявку
								span.request-block__title-txt Залиште заявку і наш менеджер зв'яжеться з вами найближчим часом
							.request-block__row
								.site-input
									label(for="requestFormName")
										span Ім'я*
									input(type="text" id="requestFormName")
							.request-block__row
								.site-input
									label(for="requestFormPhone")
										span Телефон*
									input(type="tel" id="requestFormPhone")
							.request-block__row
								.site-input
									label(for="requestFormEmail")
										span E-mail*
									input(type="email" id="requestFormEmail")

							.request-block__btn
								a(href="#").site-btn.request-block__btn-i Відправити заявку

		.double-block
			.site-title Кольорові вікна з ламінуванням
			.double-block__inner

				.type-block
					.type-block__inner
						.type-block__slider
							.type-block__item
								.type-block__img
									img(src="" alt="img").type-block__img-i
								.type-block__name Махагон
							.type-block__item
								.type-block__img
									img(src="" alt="img").type-block__img-i
								.type-block__name Болотный дуб
							.type-block__item
								.type-block__img
									img(src="" alt="img").type-block__img-i
								.type-block__name Орех
							.type-block__item
								.type-block__img
									img(src="" alt="img").type-block__img-i
								.type-block__name Светлый дуб
							.type-block__item
								.type-block__img
									img(src="" alt="img").type-block__img-i
								.type-block__name Горная сосна
							.type-block__item
								.type-block__img
									img(src="" alt="img").type-block__img-i
								.type-block__name Винчестер

						.type-block__txt Один з найпопулярніших видів декорування вікон - ламінація віконного профілю під дерево
						.type-block__btn
							a(href="#").site-btn.type-block__btn-i Замовити

				.type-block-big-slider
					.type-block-big-slider__inner
						.type-block-big-slider__item(style="background-image: url('');")

		.our-work
			.our-work__inner
				.site-title Наши роботи
				.our-work__content
					.our-work__slider
						.our-work__item
							.our-work__item-full(style="background-image: url('');")
								a(href="#").our-work__link
								.our-work__hover Орден Палац
						.our-work__item
							.our-work__item-half(style="background-image: url('');")
								a(href="#").our-work__link
								.our-work__hover Орден Палац
							.our-work__item-half(style="background-image: url('');")
								a(href="#").our-work__link
								.our-work__hover Орден Палац
						.our-work__item
							.our-work__item-full(style="background-image: url('');")
								a(href="#").our-work__link
								.our-work__hover Орден Палац

		.double-block
			.double-block__inner

				.last-news
					.last-news__inner
						.site-title.site-title--white
						.last-news__content
							.last-news__slider
								.last-news__item
									.last-news__date 12.05.2020
									.last-news__title Сколько стоит квадратный метр вашего окна?
									.last-news__text Есть много вариантов Lorem Ipsum, но большинство
									.last-news__more-detail
										a(href="#").more-detail.last-news__more-detail-i Докладніше

							.last-news__bottom
								.last-news__bottom-list
									.last-news__bottom-item
										.last-news__bottom-date 15.05.2020
										.last-news__bottom-txt Как правильно выбрать металлопластиковые окна — 10 главных правил
										.last-news__bottom-more-detail
											a(href="#").more-detail.last-news__bottom-more-detail-i Докладніше
									.last-news__bottom-item
										.last-news__bottom-date 15.05.2020
										.last-news__bottom-txt Как правильно выбрать металлопластиковые окна — 10 главных правил
										.last-news__bottom-more-detail
											a(href="#").more-detail.last-news__bottom-more-detail-i Докладніше

				.more-news
					.more-news__inner
						.more-news__head
							a(href="#").site-arrow-link.more-news__head-link Всі новини
						.more-news__slider
							.more-news__item
								img(src="" alt="img").more-news__img
						.last-news__bottom.more-news__bottom
							.last-news__bottom-list
								.last-news__bottom-item
									.last-news__bottom-date 15.05.2020
									.last-news__bottom-txt Как правильно выбрать металлопластиковые окна — 10 главных правил
									.last-news__bottom-more-detail
										a(href="#").more-detail.last-news__bottom-more-detail-i Докладніше
								.last-news__bottom-item
									.last-news__bottom-date 15.05.2020
									.last-news__bottom-txt Как правильно выбрать металлопластиковые окна — 10 главных правил
									.last-news__bottom-more-detail
										a(href="#").more-detail.last-news__bottom-more-detail-i Докладніше

		.double-block
			.double-block__inner

				.history-block
					.history-block__inner
						.site-title
						.history-block__content
							.history-block-top-p ВікноПлюс - надійній виробник по виготовленню металлопластиковіх вікон та дверей
							.history-block-p
								| Правильно понимайте суть гарантии на окна. Например: одна компания дает на окна гарантию в 10 лет, другая – 3 года. Многие думают, что если в окне произойдет поломка в это период, то вам произведут бесплатную замену. Но это уже не гарантия а брак изделия. Когда производитель продукции определяет на свой товар гарантию, то он всего лишь здраво оценивает период, в который его продукция будет работать без видимых недостатков.
								| <br>
								| <br>
								| Но когда пройдет три года, начнутся проблемы. Частые ремонты и регулировка заставят вас снова покупать новые окна. Чем больше гарантия, тем дольше ваши окна будут работать вам в удовольствие. Также обязательно обращайте внимание: гарантия распространяется на все изделие или только на отдельные его составляющие. Так, под гарантией в 10 лет может подразумеваться гарантия на сам пластик, а на стеклопакет и фурнитуру — уже другая. Но вам всегда назовут просто самую большую цифру.

				.request-block
					.request-block__inner
						form(action="#").request-block__from
							.request-block__title
								span.request-block__title-main Залишити заявку
								span.request-block__title-txt Залиште заявку і наш менеджер зв'яжеться з вами найближчим часом
							.request-block__row
								.site-input
									label(for="requestFormName2")
										span Ім'я*
									input(type="text" id="requestFormName2")
							.request-block__row
								.site-input
									label(for="requestFormPhone2")
										span Телефон*
									input(type="tel" id="requestFormPhone2")
							.request-block__row
								.site-input
									label(for="requestFormEmail2")
										span E-mail*
									input(type="email" id="requestFormEmail2")

							.request-block__btn
								a(href="#").site-btn.request-block__btn-i Відправити заявку

		.smart-home
			.smart-home__inner
				.smart-home__title
				.smart-home__btn
					a(href="#").site-btn.smart-home__btn-i


