extends _layout

block vars
	- var pageTitle = "Home page";
	- var pageClass = "window";

block content

	div.main-wrap
		section
			.window-top
				.window-top__title Revolution
				.window-top__caption Інноваційна профільна система для тих, <br> хто звик випереджати час

		section
			.double-block
				.double-block__inner
					.revolution
						.double-block__item
							.revolution__title.site-title Revolution
							.revolution__img
								img(src="./img/window/window.png")
					.revolution-right
						.double-block__item
							.revolution-right__tabs
								.revolution-right__tabs-top
									a(href="javascript:void(0)").revolution-right__tab.active опис системи
									a(href="javascript:void(0)").revolution-right__tab Переваги
								.revolution-right__content
									.revolution-right__content-i.active
										.revolution-right__content-t Профільна система: Revolution
										.revolution-right__content-txt Час не стоїть на місці, як і не стоїть на місці прогрес. Для тих, хто звик випереджати час, задавати вектор першості, бути лідером в інноваціях, ми пропонуємо абсолютно інноваційний продукт - VEKA Revolution.
									.revolution-right__content-i
										.revolution-right__content-t Профільна система: Revolution
										.revolution-right__content-txt Час не стоїть на місці, як і не стоїть на місці прогрес. Для тих, хто звик випереджати час, задавати вектор першості, бути лідером в інноваціях, ми пропонуємо абсолютно інноваційний продукт - VEKA Revolution.


							.revolution-right__btn
								a(href="#").site-btn.revolution-right__btn-i Дивитись відео
								a(href="#").site-btn.revolution-right__btn-i Технічна інформація


		section
			.features
				.block-wrap
					.site-title.site-title--white Особливості

					.features__items
						.features__item
							.features__img
								img(src="./img/window/w-feat-1.png")
							.features__title Профіль
							.features__desc 5-камерні профілі рами і стулки виконані виключно з першокласного матеріалу класу А з глибиною монтажу 70 мм.
						.features__item
							.features__img
								img(src="./img/window/w-feat-2.png")
							.features__title Армування
							.features__desc 5-камерні профілі рами і стулки виконані виключно з першокласного матеріалу класу А з глибиною монтажу 70 мм.
						.features__item
							.features__img
								img(src="./img/window/w-feat-3.png")
							.features__title Фурнітура
							.features__desc 5-камерні профілі рами і стулки виконані виключно з першокласного матеріалу класу А з глибиною монтажу 70 мм.


		section
			.block-wrap.site-title-wrap
				.site-title Галерея робiт

			.our-work
				.our-work__inner
					.our-work__content
						.our-work__slider#our-work-slider
							.our-work__item
								.our-work__item-content
									.our-work__item-full(style="background-image: url('./img/home/our-work01.png');")
										a(href="./img/home/our-work01.png").our-work__link
											.our-work__hover Орден Палац
							.our-work__item
								.our-work__item-content
									.our-work__item-half(style="background-image: url('./img/home/our-work02.png');")
										a(href="./img/home/our-work02.png").our-work__link
											.our-work__hover Орден Палац
									.our-work__item-half(style="background-image: url('./img/home/our-work03.png');")
										a(href="./img/home/our-work03.png").our-work__link
											.our-work__hover Орден Палац
							.our-work__item
								.our-work__item-content
									.our-work__item-full(style="background-image: url('./img/home/our-work04.png');")
										a(href="./img/home/our-work04.png").our-work__link
											.our-work__hover Орден Палац
							.our-work__item
								.our-work__item-content
									.our-work__item-full(style="background-image: url('./img/home/our-work01.png');")
										a(href="./img/home/our-work01.png").our-work__link
											.our-work__hover Орден Палац
							.our-work__item
								.our-work__item-content
									.our-work__item-full(style="background-image: url('./img/home/our-work04.png');")
										a(href="./img/home/our-work04.png").our-work__link
											.our-work__hover Орден Палац


		section
			.block-wrap.site-title-wrap
				.site-title Iнші профільні системи

			.window
				.window__inner
					.window__content
						.window__list
							.window__item
								.window__item-content
									a(href="#").window__img
										img(src="./img/home/window01.png" alt="img").window__img-i
									a(href="#").window__name спальня
									a(href="#").window__caption Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
							.window__item
								.window__item-content
									a(href="#").window__img
										img(src="./img/home/window02.png" alt="img").window__img-i
									a(href="#").window__name їдальня
									a(href="#").window__caption Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
							.window__item
								.window__item-content
									a(href="#").window__img
										img(src="./img/home/window03.png" alt="img").window__img-i
									a(href="#").window__name кухня
									a(href="#").window__caption Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
							.window__item
								.window__item-content
									a(href="#").window__img
										img(src="./img/home/window04.png" alt="img").window__img-i
									a(href="#").window__name зал
									a(href="#").window__caption Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod






		section
			.double-block
				.double-block__inner
					.history-block
						.double-block__item
							.history-block__inner
								.site-title Iсторiя компанії
								.history-block__content
									h2 ВікноПлюс - надійній виробник по виготовленню металлопластиковіх вікон та дверей
									.seo-content.history-block__txt
										p
											| Правильно понимайте суть гарантии на окна. Например: одна компания дает на окна гарантию в 10 лет, другая – 3 года. Многие думают, что если в окне произойдет поломка в это период, то вам произведут бесплатную замену. Но это уже не гарантия а брак изделия. Когда производитель продукции определяет на свой товар гарантию, то он всего лишь здраво оценивает период, в который его продукция будет работать без видимых недостатков.
											| <br>
											| <br>
											| Но когда пройдет три года, начнутся проблемы. Частые ремонты и регулировка заставят вас снова покупать новые окна. Чем больше гарантия, тем дольше ваши окна будут работать вам в удовольствие. Также обязательно обращайте внимание: гарантия распространяется на все изделие или только на отдельные его составляющие. Так, под гарантией в 10 лет может подразумеваться гарантия на сам пластик, а на стеклопакет и фурнитуру — уже другая. Но вам всегда назовут просто самую большую цифру.
											| <br>
											| <br>
											| Правильно понимайте суть гарантии на окна. Например: одна компания дает на окна гарантию в 10 лет, другая – 3 года. Многие думают, что если в окне произойдет поломка в это период, то вам произведут бесплатную замену. Но это уже не гарантия а брак изделия. Когда производитель продукции определяет на свой товар гарантию, то он всего лишь здраво оценивает период, в который его продукция будет работать без видимых недостатков.
											| <br>
											| <br>
											| Но когда пройдет три года, начнутся проблемы. Частые ремонты и регулировка заставят вас снова покупать новые окна. Чем больше гарантия, тем дольше ваши окна будут работать вам в удовольствие. Также обязательно обращайте внимание: гарантия распространяется на все изделие или только на отдельные его составляющие. Так, под гарантией в 10 лет может подразумеваться гарантия на сам пластик, а на стеклопакет и фурнитуру — уже другая. Но вам всегда назовут просто самую большую цифру.
										a(href="javascript:void(0);").seo-content__more-btn.history-block__more-btn
					.request-block.request-block--bg2
						.double-block__item
							.request-block__inner
								form(action="#").request-block__from
									.request-block__title
										span.request-block__title-main Залишити заявку
										span.request-block__title-txt Залиште заявку і наш менеджер зв'яжеться з вами найближчим часом
									.request-block__row
										.site-input
											input(type="text" id="requestFormName2")
											label(for="requestFormName2")
												span Ім'я*
									.request-block__row
										.site-input
											input(type="tel" id="requestFormPhone2")
											label(for="requestFormPhone2")
												span Телефон*
									.request-block__row
										.site-input
											input(type="email" id="requestFormEmail2")
											label(for="requestFormEmail2")
												span E-mail*

									.request-block__btn
										a(href="#").site-btn.request-block__btn-i Відправити заявку





